@import 'maps.scss';

%button{
    text-decoration: none;
    font-size: .8em;
    display: inline-block;
    padding: 1em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

@each $color,$val in $colorMap{
    a,div,button{
        &.tombol{
            &.#{$color}{
                @extend %button;
                background: $val;
                @if $color == kuning {
                    color: #000;
                }
                @else if $color == putih {
                    color: #000;
                }
                @else{
                    color: #fff;
                }

                &.besar{
                    font-size: 1.5em;
                    border-radius: 4px;
                    padding: .7em;
                }

                &.kecil{
                    font-size: .6em;
                    border-radius: 1px;
                }
            }
            &.#{$color}:hover{
                background: $val - 10;
            }
        }
    }
}